<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
      integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/semantic/dist/semantic.min.css"
    />
  </head>
  <body>
    <div class="ui container">
      <br /><br />
      <div class="ui grid">
        <div class="column twelve wide">
          <hr />
        </div>
      </div>
      <button class="ui button">Follow</button>
      <button class="ui icon button">
        <i class="cloud icon"> </i>
      </button>
    </div>

    <script src="/semantic/dist/semantic.min.js"></script>
  </body>
</html>
